div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}